CREATE TYPE [dbo].[tempTissueBankProduct_TissueBank] AS TABLE(
	[TissueBankProductId] [int] NULL,
	[TissueBankId] [int] NULL,
	[ProductMasterId] [int] NULL,
	[ProductType] [nvarchar](200) NULL,
	[ProductCode] [varchar](20) NULL,
	[ProductSize] [nvarchar](500) NULL,
	[PreservationType] [nvarchar](100) NULL,
	[ProductDescription] [nvarchar](500) NULL,
	[Remark] [nvarchar](200) NULL,
	[UnitPrice] [numeric](18, 2) NULL,
	[SourceId] [int] NULL,
	[IsAvailableForSale] [bit] NULL,
	[AvailabilityStartDate] [datetime] NULL,
	[AvailabilityEndDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[LastModifiedBy] [int] NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[tempUser]    Script Date: 1/12/2017 11:06:43 AM ******/
CREATE TYPE [dbo].[tempUser] AS TABLE(
	[UserId] [int] NULL,
	[UserRoles] [varchar](200) NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[TempUser_CUD]    Script Date: 1/12/2017 11:06:43 AM ******/
CREATE TYPE [dbo].[TempUser_CUD] AS TABLE(
	[UserID] [int] NULL,
	[RoleID] [int] NULL
)
GO
/****** Object:  Table [dbo].[City]    Script Date: 1/12/2017 11:06:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[City](
	[CityID] [int] IDENTITY(1,1) NOT NULL,
	[CityName] [nvarchar](100) NOT NULL,
	[StateId] [int] NOT NULL,
	[ZipCode] [nvarchar](10) NULL,
 CONSTRAINT [PK_City] PRIMARY KEY CLUSTERED 
(
	[CityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Company]    Script Date: 1/12/2017 11:06:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Company](
	[CompanyId] [int] IDENTITY(1,1) NOT NULL,
	[CompanyName] [nvarchar](100) NULL,
 CONSTRAINT [PK_Company] PRIMARY KEY CLUSTERED 
(
	[CompanyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DomainScope]    Script Date: 1/12/2017 11:06:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DomainScope](
	[DomainScopeId] [int] IDENTITY(1,1) NOT NULL,
	[DomainName] [nvarchar](100) NULL,
 CONSTRAINT [PK_DomainScope] PRIMARY KEY CLUSTERED 
(
	[DomainScopeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Entity]    Script Date: 1/12/2017 11:06:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Entity](
	[EntityId] [int] IDENTITY(1,1) NOT NULL,
	[EntityTypeId] [int] NULL,
	[InfoId] [int] NULL,
 CONSTRAINT [PK_Entity] PRIMARY KEY CLUSTERED 
(
	[EntityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EntityType]    Script Date: 1/12/2017 11:06:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EntityType](
	[EntityTypeId] [int] IDENTITY(1,1) NOT NULL,
	[EntityTypeName] [nvarchar](100) NULL,
 CONSTRAINT [PK_EntityType] PRIMARY KEY CLUSTERED 
(
	[EntityTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Hospital]    Script Date: 1/12/2017 11:06:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hospital](
	[HospitalId] [int] IDENTITY(1,1) NOT NULL,
	[HospitalName] [nvarchar](100) NULL,
	[DomainScopeID] [int] NULL,
	[HospitalTypeID] [int] NULL,
	[HospitalAddress] [nvarchar](300) NULL,
	[HospitalCityId] [int] NULL,
	[FaxNumber] [nvarchar](20) NULL,
	[HospitalLandLineNo] [nvarchar](20) NULL,
	[RegistrationNumber] [nvarchar](20) NULL,
	[ContactPersonName] [nvarchar](100) NULL,
	[ContactPersonNumber] [nvarchar](20) NULL,
	[IsContactNumberVerified] [bit] NULL,
	[IsEmailVerified] [bit] NULL,
	[HospitalEmailId] [nvarchar](100) NULL,
	[IsActive] [bit] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[LastModifiedDate] [datetime] NULL CONSTRAINT [DF_Hospital_modifiedDate]  DEFAULT (getdate()),
	[LastModifiedBy] [int] NULL,
 CONSTRAINT [PK_Hospital] PRIMARY KEY CLUSTERED 
(
	[HospitalId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HospitalAddress]    Script Date: 1/12/2017 11:06:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HospitalAddress](
	[HospitalAddressId] [int] IDENTITY(1,1) NOT NULL,
	[HospitalId] [int] NULL,
	[HospitalAddress] [nvarchar](150) NULL,
	[CityId] [int] NULL,
	[ContactPersonName] [nvarchar](100) NULL,
	[ContactPersonNumber] [nvarchar](10) NULL,
	[ContactPersonEmailId] [nvarchar](50) NULL,
	[FaxNumber] [nvarchar](50) NULL,
	[IsActive] [bit] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[LastModifiedDate] [datetime] NULL CONSTRAINT [DF_HospitalAddress_LastModifiedDate]  DEFAULT (getdate()),
	[LastModifiedBy] [int] NULL,
 CONSTRAINT [PK_HospitalAddress] PRIMARY KEY CLUSTERED 
(
	[HospitalAddressId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HospitalType]    Script Date: 1/12/2017 11:06:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HospitalType](
	[HospitalTypeID] [int] IDENTITY(1,1) NOT NULL,
	[HospitalTypeName] [nvarchar](100) NULL,
 CONSTRAINT [PK_HospitalType] PRIMARY KEY CLUSTERED 
(
	[HospitalTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Notification]    Script Date: 1/12/2017 11:06:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notification](
	[NotificationId] [int] NOT NULL,
	[EntityTypeID] [int] NULL,
	[NotificationBody] [nvarchar](200) NULL,
	[IsSeen] [bit] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[LastModifiedDate] [datetime] NULL,
	[LastModifiedBy] [int] NULL,
 CONSTRAINT [PK_Notification] PRIMARY KEY CLUSTERED 
(
	[NotificationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NotificationTag]    Script Date: 1/12/2017 11:06:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NotificationTag](
	[NotificationTagId] [int] IDENTITY(1,1) NOT NULL,
	[NotificationTagName] [varchar](50) NULL,
 CONSTRAINT [PK_NotificationTag] PRIMARY KEY CLUSTERED 
(
	[NotificationTagId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Order]    Script Date: 1/12/2017 11:06:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[OrderId] [int] IDENTITY(1,1) NOT NULL,
	[TransactionNumber] [nvarchar](100) NULL,
	[OrderDate] [datetime] NULL,
	[OrderLineTotal] [numeric](18, 2) NULL,
	[PurchaseRequestId] [int] NULL,
	[RFQId] [int] NULL,
	[AlloCATFees] [nchar](10) NULL,
	[HospitalPoNumber] [nvarchar](20) NULL,
	[StatusId] [int] NULL,
	[DeclineRemark] [nvarchar](200) NULL,
	[IsActive] [bit] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[LastModifiedDate] [datetime] NULL CONSTRAINT [DF_Order_LastModifiedDate]  DEFAULT (getdate()),
	[LastModifiedBy] [int] NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OrderDetail]    Script Date: 1/12/2017 11:06:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetail](
	[OrderDetailId] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NULL,
	[ProductEntityId] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[LastModifiedDate] [datetime] NULL CONSTRAINT [DF_OrderDetail_LastModifiedDate]  DEFAULT (getdate()),
	[LastModifiedBy] [int] NULL,
 CONSTRAINT [PK_OrderDetail] PRIMARY KEY CLUSTERED 
(
	[OrderDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProductEntity]    Script Date: 1/12/2017 11:06:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductEntity](
	[ProductEntityId] [int] IDENTITY(1,1) NOT NULL,
	[TissueBankProductId] [int] NULL,
	[TissueBankId] [int] NULL,
	[HospitalId] [int] NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [numeric](18, 2) NULL,
	[LineTotal] [numeric](18, 2) NULL,
	[SalesTax] [numeric](18, 2) NULL,
	[Total] [numeric](18, 2) NULL,
	[NeedByDate] [date] NULL,
	[TissueBankSendByDate] [date] NULL,
	[ShippingDetailId] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[LastModifiedDate] [datetime] NULL CONSTRAINT [DF_ProductEntity_LastModifiedDate]  DEFAULT (getdate()),
	[LastModifiedBy] [int] NULL,
 CONSTRAINT [PK_ProductEntity] PRIMARY KEY CLUSTERED 
(
	[ProductEntityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProductMaster]    Script Date: 1/12/2017 11:06:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductMaster](
	[ProductMasterId] [int] IDENTITY(1,1) NOT NULL,
	[ProductMasterName] [nvarchar](100) NULL,
	[ProductMasterDescription] [nvarchar](300) NULL,
	[ProductMasterFeatures] [nvarchar](300) NULL,
	[ProductMasterImageName] [nvarchar](50) NULL,
	[ProductMasterThumbnailImageName] [nvarchar](50) NULL,
	[DomainScopeId] [int] NULL,
	[FamilyId] [int] NULL,
	[IsActive] [bit] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[LastModifiedDate] [datetime] NULL CONSTRAINT [DF_ProductMaster_LastModifiedDate]  DEFAULT (getdate()),
	[LastModifiedBy] [int] NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[ProductMasterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PurchaseRequest]    Script Date: 1/12/2017 11:06:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PurchaseRequest](
	[PurchaseRequestId] [int] IDENTITY(1,1) NOT NULL,
	[ParentRequestForQuoteId] [int] NULL,
	[ProductEntityId] [int] NULL,
	[AssignedToUserId] [int] NULL,
	[AssignedByUserId] [int] NULL,
	[Remark] [nvarchar](200) NULL,
	[StatusId] [int] NULL,
	[IsActive] [bit] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[LastModifiedDate] [datetime] NULL,
	[LastModifiedBy] [int] NULL,
 CONSTRAINT [PK_Purchaserequest] PRIMARY KEY CLUSTERED 
(
	[PurchaseRequestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ReportType]    Script Date: 1/12/2017 11:06:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReportType](
	[ReportTypeId] [int] IDENTITY(1,1) NOT NULL,
	[ReportTypeName] [nvarchar](500) NULL,
 CONSTRAINT [PK_ReportType] PRIMARY KEY CLUSTERED 
(
	[ReportTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Request]    Script Date: 1/12/2017 11:06:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Request](
	[RequestID] [int] IDENTITY(1,1) NOT NULL,
	[HospitalId] [int] NULL,
	[RequestForQuoteId] [int] NULL,
	[RequestBody] [nvarchar](max) NULL,
	[AttachmentName] [nvarchar](100) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[LastModifiedDate] [datetime] NULL CONSTRAINT [DF_Request_LastModifiedDate]  DEFAULT (getdate()),
	[LastModifiedBy] [int] NULL,
 CONSTRAINT [PK_Request] PRIMARY KEY CLUSTERED 
(
	[RequestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RequestForQuote]    Script Date: 1/12/2017 11:06:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RequestForQuote](
	[RequestForQuoteId] [int] IDENTITY(1,1) NOT NULL,
	[ProductEntityId] [int] NULL,
	[StatusId] [int] NULL,
	[DeclineRemark] [nvarchar](200) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[LastModifiedDate] [datetime] NULL CONSTRAINT [DF_RequestForQuote_LastModifiedDate]  DEFAULT (getdate()),
	[LastModifiedBy] [int] NULL,
 CONSTRAINT [PK_RequestForQuote] PRIMARY KEY CLUSTERED 
(
	[RequestForQuoteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Response]    Script Date: 1/12/2017 11:06:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Response](
	[ResponseId] [int] IDENTITY(1,1) NOT NULL,
	[TissueBankId] [int] NULL,
	[RequestID] [int] NULL,
	[ResponseBody] [nvarchar](max) NULL,
	[AttachmentName] [nvarchar](100) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[LastModifiedDate] [datetime] NULL CONSTRAINT [DF_Response_LastModifiedDate]  DEFAULT (getdate()),
	[LastModifiedBy] [int] NULL,
 CONSTRAINT [PK_Response] PRIMARY KEY CLUSTERED 
(
	[ResponseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Role]    Script Date: 1/12/2017 11:06:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](100) NULL,
	[EntityTypeID] [int] NULL,
 CONSTRAINT [PK_UserRole] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ShippingDetail]    Script Date: 1/12/2017 11:06:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShippingDetail](
	[ShippingDetailId] [int] IDENTITY(1,1) NOT NULL,
	[ShippingMethod] [nvarchar](100) NULL,
	[HospitalAddressId] [int] NULL,
	[ShippedDate] [datetime] NULL,
	[ReceivedDate] [datetime] NULL,
 CONSTRAINT [PK_ShippingDetail] PRIMARY KEY CLUSTERED 
(
	[ShippingDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Source]    Script Date: 1/12/2017 11:06:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Source](
	[SourceId] [int] IDENTITY(1,1) NOT NULL,
	[SourceName] [nvarchar](200) NULL,
 CONSTRAINT [PK_Source] PRIMARY KEY CLUSTERED 
(
	[SourceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[State]    Script Date: 1/12/2017 11:06:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[State](
	[StateId] [int] IDENTITY(1,1) NOT NULL,
	[StateName] [nvarchar](100) NULL,
 CONSTRAINT [PK_State] PRIMARY KEY CLUSTERED 
(
	[StateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Status]    Script Date: 1/12/2017 11:06:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Status](
	[StatusId] [int] IDENTITY(1,1) NOT NULL,
	[StatusCode] [nvarchar](50) NULL,
	[StatusName] [nvarchar](100) NULL,
	[ReportTypeId] [int] NULL,
 CONSTRAINT [PK_Status] PRIMARY KEY CLUSTERED 
(
	[StatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TaggedNotification]    Script Date: 1/12/2017 11:06:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaggedNotification](
	[TaggedNotificationId] [int] IDENTITY(1,1) NOT NULL,
	[NotificationId] [int] NULL,
	[NotificationTagId] [int] NULL,
 CONSTRAINT [PK_TaggedNotification] PRIMARY KEY CLUSTERED 
(
	[TaggedNotificationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TissueBank]    Script Date: 1/12/2017 11:06:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TissueBank](
	[TissueBankId] [int] IDENTITY(1,1) NOT NULL,
	[TissueBankName] [nvarchar](100) NULL,
	[ContactPersonName] [nvarchar](100) NULL,
	[ContactPersonNumber] [nvarchar](20) NULL,
	[TissueBankEmailId] [nvarchar](50) NULL,
	[BusinessURL] [nvarchar](100) NULL,
	[IsMobileVerified] [bit] NULL,
	[IsEmailVerified] [bit] NULL,
	[TissueBankAddress] [nvarchar](300) NULL,
	[CityId] [int] NULL,
	[TissueBankStateLicense] [nvarchar](50) NULL,
	[CustomerServiceLandLineNumber] [nvarchar](30) NULL,
	[FaxNumber] [nvarchar](50) NULL,
	[TaxPayerId] [nvarchar](50) NULL,
	[AATBLicenseNumber] [nvarchar](30) NULL,
	[AATBExpirationDate] [date] NULL,
	[AATBAccredationDate] [date] NULL,
	[IsAllocatMember] [bit] NULL,
	[IsAccountVerified] [bit] NULL,
	[IsActive] [bit] NULL CONSTRAINT [DF_TissueBank_IsActive]  DEFAULT ((1)),
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[LastModifiedDate] [datetime] NULL CONSTRAINT [DF_TissueBank_LastModifiedDate]  DEFAULT (getdate()),
	[LastModifiedBy] [int] NULL,
 CONSTRAINT [PK_TissueBank] PRIMARY KEY CLUSTERED 
(
	[TissueBankId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TissueBankProduct]    Script Date: 1/12/2017 11:06:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TissueBankProduct](
	[TissueBankProductId] [int] IDENTITY(1,1) NOT NULL,
	[TissueBankId] [int] NULL,
	[ProductMasterId] [int] NULL,
	[ProductType] [nvarchar](200) NULL,
	[ProductCode] [varchar](20) NULL,
	[ProductSize] [nvarchar](500) NULL,
	[PreservationType] [nvarchar](100) NULL,
	[ProductDescription] [nvarchar](500) NULL,
	[Remark] [nvarchar](200) NULL,
	[UnitPrice] [numeric](18, 2) NULL,
	[SourceId] [int] NULL,
	[IsAvailableForSale] [bit] NULL CONSTRAINT [DF_TissueBankProduct_IsAvailableForSale]  DEFAULT ((0)),
	[AvailabilityStartDate] [datetime] NULL,
	[AvailabilityEndDate] [datetime] NULL,
	[IsActive] [bit] NULL CONSTRAINT [DF_TissueBankProduct_IsActive]  DEFAULT ((1)),
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[LastModifiedDate] [datetime] NULL,
	[LastModifiedBy] [int] NULL,
 CONSTRAINT [PK_TbProduct] PRIMARY KEY CLUSTERED 
(
	[TissueBankProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[User]    Script Date: 1/12/2017 11:06:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[User](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](100) NULL,
	[Password] [nvarchar](50) NULL,
	[FullName] [nvarchar](200) NULL,
	[EntityID] [int] NULL,
	[DomainScopeID] [int] NULL,
	[MobileNumber] [varchar](20) NULL,
	[EmailId] [nvarchar](100) NULL,
	[IsMobileVerified] [bit] NULL,
	[IsEmailVerified] [bit] NULL,
	[IsLockedOut] [bit] NOT NULL,
	[LastLoginDate] [datetime] NOT NULL,
	[LastPasswordChangedDate] [datetime] NOT NULL,
	[LastLockoutDate] [datetime] NULL,
	[FailedPasswordAttemptCount] [int] NULL,
	[FailedPasswordAnswerAttemptCount] [int] NULL,
	[PasswordQuestion] [nvarchar](256) NULL,
	[PasswordAnswer] [nvarchar](128) NULL,
	[SecurityQuestion] [varchar](100) NULL,
	[SecurityAnswer] [varchar](100) NULL,
	[IsActive] [bit] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[LastModifiedDate] [datetime] NULL CONSTRAINT [DF_User_LastModifiedDate]  DEFAULT (getdate()),
	[LastModifiedBy] [int] NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UserRole]    Script Date: 1/12/2017 11:06:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRole](
	[UserRoleID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[RoleID] [int] NULL,
 CONSTRAINT [PK_UserRoleID] PRIMARY KEY CLUSTERED 
(
	[UserRoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[City] ON 

INSERT [dbo].[City] ([CityID], [CityName], [StateId], [ZipCode]) VALUES (4, N'HUNTSVILLE', 1, N'12345')
INSERT [dbo].[City] ([CityID], [CityName], [StateId], [ZipCode]) VALUES (6, N'DOTHAN', 1, N'32145')
INSERT [dbo].[City] ([CityID], [CityName], [StateId], [ZipCode]) VALUES (7, N'AUBURN', 1, N'12345')
SET IDENTITY_INSERT [dbo].[City] OFF
SET IDENTITY_INSERT [dbo].[Company] ON 

INSERT [dbo].[Company] ([CompanyId], [CompanyName]) VALUES (1, N'Allocat')
SET IDENTITY_INSERT [dbo].[Company] OFF
SET IDENTITY_INSERT [dbo].[DomainScope] ON 

INSERT [dbo].[DomainScope] ([DomainScopeId], [DomainName]) VALUES (1, N'DENTAL')
SET IDENTITY_INSERT [dbo].[DomainScope] OFF
SET IDENTITY_INSERT [dbo].[Entity] ON 

INSERT [dbo].[Entity] ([EntityId], [EntityTypeId], [InfoId]) VALUES (1, 1, 3)
INSERT [dbo].[Entity] ([EntityId], [EntityTypeId], [InfoId]) VALUES (2, 2, 28)
INSERT [dbo].[Entity] ([EntityId], [EntityTypeId], [InfoId]) VALUES (3, 3, 1)
SET IDENTITY_INSERT [dbo].[Entity] OFF
SET IDENTITY_INSERT [dbo].[EntityType] ON 

INSERT [dbo].[EntityType] ([EntityTypeId], [EntityTypeName]) VALUES (1, N'HOSPITAL')
INSERT [dbo].[EntityType] ([EntityTypeId], [EntityTypeName]) VALUES (2, N'TISSUEBANK')
INSERT [dbo].[EntityType] ([EntityTypeId], [EntityTypeName]) VALUES (3, N'ALLOCAT STAFF')
SET IDENTITY_INSERT [dbo].[EntityType] OFF
SET IDENTITY_INSERT [dbo].[Hospital] ON 

SET IDENTITY_INSERT [dbo].[Hospital] OFF
SET IDENTITY_INSERT [dbo].[HospitalAddress] ON 

INSERT [dbo].[HospitalAddress] ([HospitalAddressId], [HospitalId], [HospitalAddress], [CityId], [ContactPersonName], [ContactPersonNumber], [ContactPersonEmailId], [FaxNumber], [IsActive], [CreatedDate], [CreatedBy], [LastModifiedDate], [LastModifiedBy]) VALUES (1, 3, N'11/2 California, US', 4, N'JAMES', N'8085202993', N'aditya.shrivastava@returnonweb.com', N'4589632654', 1, CAST(N'2016-11-23 00:00:00.000' AS DateTime), 8, CAST(N'2016-11-23 00:00:00.000' AS DateTime), 8)
SET IDENTITY_INSERT [dbo].[HospitalAddress] OFF
SET IDENTITY_INSERT [dbo].[HospitalType] ON 

INSERT [dbo].[HospitalType] ([HospitalTypeID], [HospitalTypeName]) VALUES (1, N'LARGE')
INSERT [dbo].[HospitalType] ([HospitalTypeID], [HospitalTypeName]) VALUES (2, N'SMALL')
SET IDENTITY_INSERT [dbo].[HospitalType] OFF
SET IDENTITY_INSERT [dbo].[NotificationTag] ON 

INSERT [dbo].[NotificationTag] ([NotificationTagId], [NotificationTagName]) VALUES (1, N'RFQ')
INSERT [dbo].[NotificationTag] ([NotificationTagId], [NotificationTagName]) VALUES (2, N'TissueBankUser')
INSERT [dbo].[NotificationTag] ([NotificationTagId], [NotificationTagName]) VALUES (3, N'AllocatAdminUser')
SET IDENTITY_INSERT [dbo].[NotificationTag] OFF
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([OrderId], [TransactionNumber], [OrderDate], [OrderLineTotal], [PurchaseRequestId], [RFQId], [AlloCATFees], [HospitalPoNumber], [StatusId], [DeclineRemark], [IsActive], [CreatedDate], [CreatedBy], [LastModifiedDate], [LastModifiedBy]) VALUES (1, NULL, CAST(N'2017-01-06 11:30:16.373' AS DateTime), CAST(760.00 AS Numeric(18, 2)), NULL, NULL, N'14        ', NULL, 1008, NULL, 1, CAST(N'2017-01-06 11:30:16.373' AS DateTime), 11, CAST(N'2017-01-09 14:06:30.653' AS DateTime), 9)
INSERT [dbo].[Order] ([OrderId], [TransactionNumber], [OrderDate], [OrderLineTotal], [PurchaseRequestId], [RFQId], [AlloCATFees], [HospitalPoNumber], [StatusId], [DeclineRemark], [IsActive], [CreatedDate], [CreatedBy], [LastModifiedDate], [LastModifiedBy]) VALUES (2, NULL, CAST(N'2017-01-06 14:56:59.017' AS DateTime), CAST(79.00 AS Numeric(18, 2)), NULL, NULL, N'5         ', NULL, 1008, NULL, 1, CAST(N'2017-01-06 14:56:59.017' AS DateTime), 8, CAST(N'2017-01-06 14:56:59.017' AS DateTime), 8)
INSERT [dbo].[Order] ([OrderId], [TransactionNumber], [OrderDate], [OrderLineTotal], [PurchaseRequestId], [RFQId], [AlloCATFees], [HospitalPoNumber], [StatusId], [DeclineRemark], [IsActive], [CreatedDate], [CreatedBy], [LastModifiedDate], [LastModifiedBy]) VALUES (3, NULL, CAST(N'2017-01-10 19:20:16.323' AS DateTime), CAST(79.00 AS Numeric(18, 2)), NULL, NULL, N'5         ', NULL, 5, N'i dont like it', 1, CAST(N'2017-01-10 19:20:16.323' AS DateTime), 8, CAST(N'2017-01-10 19:28:11.383' AS DateTime), 9)
SET IDENTITY_INSERT [dbo].[Order] OFF
SET IDENTITY_INSERT [dbo].[OrderDetail] ON 

INSERT [dbo].[OrderDetail] ([OrderDetailId], [OrderId], [ProductEntityId], [CreatedDate], [CreatedBy], [LastModifiedDate], [LastModifiedBy]) VALUES (1, 1, 1059, CAST(N'2017-01-06 11:30:16.373' AS DateTime), 8, CAST(N'2017-01-06 11:30:16.373' AS DateTime), 8)
INSERT [dbo].[OrderDetail] ([OrderDetailId], [OrderId], [ProductEntityId], [CreatedDate], [CreatedBy], [LastModifiedDate], [LastModifiedBy]) VALUES (2, 2, 1060, CAST(N'2017-01-06 14:56:59.017' AS DateTime), 8, CAST(N'2017-01-06 14:56:59.017' AS DateTime), 8)
INSERT [dbo].[OrderDetail] ([OrderDetailId], [OrderId], [ProductEntityId], [CreatedDate], [CreatedBy], [LastModifiedDate], [LastModifiedBy]) VALUES (3, 3, 1061, CAST(N'2017-01-10 19:20:16.323' AS DateTime), 8, CAST(N'2017-01-10 19:20:16.323' AS DateTime), 8)
SET IDENTITY_INSERT [dbo].[OrderDetail] OFF
SET IDENTITY_INSERT [dbo].[ProductEntity] ON 

INSERT [dbo].[ProductEntity] ([ProductEntityId], [TissueBankProductId], [TissueBankId], [HospitalId], [Quantity], [UnitPrice], [LineTotal], [SalesTax], [Total], [NeedByDate], [TissueBankSendByDate], [ShippingDetailId], [CreatedDate], [CreatedBy], [LastModifiedDate], [LastModifiedBy]) VALUES (1003, 1, 28, 3, 1, CAST(510.00 AS Numeric(18, 2)), CAST(510.00 AS Numeric(18, 2)), CAST(10.00 AS Numeric(18, 2)), CAST(520.00 AS Numeric(18, 2)), CAST(N'2016-12-29' AS Date), CAST(N'2017-01-24' AS Date), 1, CAST(N'2016-12-28 12:55:19.967' AS DateTime), 8, CAST(N'2017-01-10 19:36:33.080' AS DateTime), 9)
INSERT [dbo].[ProductEntity] ([ProductEntityId], [TissueBankProductId], [TissueBankId], [HospitalId], [Quantity], [UnitPrice], [LineTotal], [SalesTax], [Total], [NeedByDate], [TissueBankSendByDate], [ShippingDetailId], [CreatedDate], [CreatedBy], [LastModifiedDate], [LastModifiedBy]) VALUES (1004, 2, 28, 3, 1, CAST(4522.00 AS Numeric(18, 2)), CAST(4522.00 AS Numeric(18, 2)), CAST(10.00 AS Numeric(18, 2)), CAST(4532.00 AS Numeric(18, 2)), CAST(N'2017-01-01' AS Date), NULL, 2, CAST(N'2016-12-28 18:32:27.853' AS DateTime), 8, CAST(N'2017-01-04 15:56:43.313' AS DateTime), 9)
INSERT [dbo].[ProductEntity] ([ProductEntityId], [TissueBankProductId], [TissueBankId], [HospitalId], [Quantity], [UnitPrice], [LineTotal], [SalesTax], [Total], [NeedByDate], [TissueBankSendByDate], [ShippingDetailId], [CreatedDate], [CreatedBy], [LastModifiedDate], [LastModifiedBy]) VALUES (1005, 3, 28, 3, 1, CAST(250.00 AS Numeric(18, 2)), CAST(250.00 AS Numeric(18, 2)), CAST(10.00 AS Numeric(18, 2)), CAST(260.00 AS Numeric(18, 2)), CAST(N'2017-01-12' AS Date), CAST(N'2017-01-20' AS Date), 3, CAST(N'2016-12-28 18:32:36.067' AS DateTime), 8, CAST(N'2017-01-04 15:34:06.100' AS DateTime), 9)
SET IDENTITY_INSERT [dbo].[ProductEntity] OFF
SET IDENTITY_INSERT [dbo].[ProductMaster] ON 

INSERT [dbo].[ProductMaster] ([ProductMasterId], [ProductMasterName], [ProductMasterDescription], [ProductMasterFeatures], [ProductMasterImageName], [ProductMasterThumbnailImageName], [DomainScopeId], [FamilyId], [IsActive], [CreatedDate], [CreatedBy], [LastModifiedDate], [LastModifiedBy]) VALUES (2, N'Bone Pin
', N'Cortical bone pins are long, thin pieces of cortical bone
', NULL, N'product.jpg', NULL, NULL, NULL, NULL, NULL, NULL, CAST(N'2016-12-09 10:50:45.023' AS DateTime), NULL)
INSERT [dbo].[ProductMaster] ([ProductMasterId], [ProductMasterName], [ProductMasterDescription], [ProductMasterFeatures], [ProductMasterImageName], [ProductMasterThumbnailImageName], [DomainScopeId], [FamilyId], [IsActive], [CreatedDate], [CreatedBy], [LastModifiedDate], [LastModifiedBy]) VALUES (3, N'Bone Wrap
', N'Cortical bone wraps are thin sheets of cortical bone
', NULL, N'product.jpg', NULL, NULL, NULL, NULL, NULL, NULL, CAST(N'2016-12-09 10:50:54.087' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[ProductMaster] OFF
SET IDENTITY_INSERT [dbo].[Request] ON 

INSERT [dbo].[Request] ([RequestID], [HospitalId], [RequestForQuoteId], [RequestBody], [AttachmentName], [CreatedDate], [CreatedBy], [LastModifiedDate], [LastModifiedBy]) VALUES (5, 3, 1002, N'Please let me know more about this product measurement.', NULL, CAST(N'2016-12-28 12:55:19.967' AS DateTime), 8, CAST(N'2016-12-28 12:55:19.967' AS DateTime), 8)
INSERT [dbo].[Request] ([RequestID], [HospitalId], [RequestForQuoteId], [RequestBody], [AttachmentName], [CreatedDate], [CreatedBy], [LastModifiedDate], [LastModifiedBy]) VALUES (6, 3, 1003, N'Please let me know more about this product measurement. 11', NULL, CAST(N'2016-12-28 18:32:27.853' AS DateTime), 8, CAST(N'2016-12-28 18:32:27.853' AS DateTime), 8)
INSERT [dbo].[Request] ([RequestID], [HospitalId], [RequestForQuoteId], [RequestBody], [AttachmentName], [CreatedDate], [CreatedBy], [LastModifiedDate], [LastModifiedBy]) VALUES (7, 3, 1004, N'Please let me know more about this product measurement. 12', NULL, CAST(N'2016-12-28 18:32:36.067' AS DateTime), 8, CAST(N'2016-12-28 18:32:36.067' AS DateTime), 8)
SET IDENTITY_INSERT [dbo].[Request] OFF
SET IDENTITY_INSERT [dbo].[RequestForQuote] ON 

INSERT [dbo].[RequestForQuote] ([RequestForQuoteId], [ProductEntityId], [StatusId], [DeclineRemark], [CreatedDate], [CreatedBy], [LastModifiedDate], [LastModifiedBy]) VALUES (1002, 1003, 3, N'i am fed up with you', CAST(N'2016-12-28 12:55:19.967' AS DateTime), 8, CAST(N'2017-01-10 19:36:33.080' AS DateTime), 9)
INSERT [dbo].[RequestForQuote] ([RequestForQuoteId], [ProductEntityId], [StatusId], [DeclineRemark], [CreatedDate], [CreatedBy], [LastModifiedDate], [LastModifiedBy]) VALUES (1003, 1004, 3, NULL, CAST(N'2016-12-28 18:32:27.853' AS DateTime), 8, CAST(N'2017-01-04 15:56:43.313' AS DateTime), 9)
INSERT [dbo].[RequestForQuote] ([RequestForQuoteId], [ProductEntityId], [StatusId], [DeclineRemark], [CreatedDate], [CreatedBy], [LastModifiedDate], [LastModifiedBy]) VALUES (1004, 1005, 4, N'dd', CAST(N'2016-12-28 18:32:36.067' AS DateTime), 8, CAST(N'2017-01-04 15:34:06.100' AS DateTime), 9)
SET IDENTITY_INSERT [dbo].[RequestForQuote] OFF
SET IDENTITY_INSERT [dbo].[Response] ON 

INSERT [dbo].[Response] ([ResponseId], [TissueBankId], [RequestID], [ResponseBody], [AttachmentName], [CreatedDate], [CreatedBy], [LastModifiedDate], [LastModifiedBy]) VALUES (6, 28, 5, N'''sure''', NULL, CAST(N'2017-01-02 17:44:12.070' AS DateTime), 9, CAST(N'2017-01-02 17:44:12.070' AS DateTime), 9)
INSERT [dbo].[Response] ([ResponseId], [TissueBankId], [RequestID], [ResponseBody], [AttachmentName], [CreatedDate], [CreatedBy], [LastModifiedDate], [LastModifiedBy]) VALUES (7, 28, 7, N'sdfd
', N'', CAST(N'2017-01-03 17:44:20.683' AS DateTime), 9, CAST(N'2017-01-03 17:44:20.683' AS DateTime), 9)
INSERT [dbo].[Response] ([ResponseId], [TissueBankId], [RequestID], [ResponseBody], [AttachmentName], [CreatedDate], [CreatedBy], [LastModifiedDate], [LastModifiedBy]) VALUES (8, 28, 7, N'adi
', NULL, CAST(N'2017-01-03 20:32:26.680' AS DateTime), 9, CAST(N'2017-01-03 20:32:26.680' AS DateTime), 9)
SET IDENTITY_INSERT [dbo].[Response] OFF
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([RoleID], [RoleName], [EntityTypeID]) VALUES (1, N'HOSPITAL SUPER ADMIN', 1)
INSERT [dbo].[Role] ([RoleID], [RoleName], [EntityTypeID]) VALUES (2, N'HOSPITAL PURCHASING AGENT', 1)
INSERT [dbo].[Role] ([RoleID], [RoleName], [EntityTypeID]) VALUES (3, N'HOSPITAL CLINICAL USER', 1)
SET IDENTITY_INSERT [dbo].[Role] OFF
SET IDENTITY_INSERT [dbo].[ShippingDetail] ON 

INSERT [dbo].[ShippingDetail] ([ShippingDetailId], [ShippingMethod], [HospitalAddressId], [ShippedDate], [ReceivedDate]) VALUES (1, N'FEDX', NULL, NULL, NULL)
INSERT [dbo].[ShippingDetail] ([ShippingDetailId], [ShippingMethod], [HospitalAddressId], [ShippedDate], [ReceivedDate]) VALUES (2, N'FEDX', NULL, NULL, NULL)
INSERT [dbo].[ShippingDetail] ([ShippingDetailId], [ShippingMethod], [HospitalAddressId], [ShippedDate], [ReceivedDate]) VALUES (3, N'FEDX', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[ShippingDetail] OFF
SET IDENTITY_INSERT [dbo].[Source] ON 

INSERT [dbo].[Source] ([SourceId], [SourceName]) VALUES (1, N'Synthetic')
INSERT [dbo].[Source] ([SourceId], [SourceName]) VALUES (2, N'Allograft')
INSERT [dbo].[Source] ([SourceId], [SourceName]) VALUES (3, N'Genograft')
SET IDENTITY_INSERT [dbo].[Source] OFF
SET IDENTITY_INSERT [dbo].[State] ON 

INSERT [dbo].[State] ([StateId], [StateName]) VALUES (1, N'ALABAMA')
INSERT [dbo].[State] ([StateId], [StateName]) VALUES (2, N'ALASKA')
INSERT [dbo].[State] ([StateId], [StateName]) VALUES (3, N'CALIFORNIA')
SET IDENTITY_INSERT [dbo].[State] OFF
SET IDENTITY_INSERT [dbo].[Status] ON 

INSERT [dbo].[Status] ([StatusId], [StatusCode], [StatusName], [ReportTypeId]) VALUES (2, N'200', N'Sent to TissueBank', NULL)
INSERT [dbo].[Status] ([StatusId], [StatusCode], [StatusName], [ReportTypeId]) VALUES (3, N'200', N'Sent to Hospital', NULL)
INSERT [dbo].[Status] ([StatusId], [StatusCode], [StatusName], [ReportTypeId]) VALUES (4, N'200', N'In-Negotiation', NULL)
SET IDENTITY_INSERT [dbo].[Status] OFF
SET IDENTITY_INSERT [dbo].[TissueBank] ON 

SET IDENTITY_INSERT [dbo].[TissueBank] OFF
SET IDENTITY_INSERT [dbo].[TissueBankProduct] ON 

INSERT [dbo].[TissueBankProduct] ([TissueBankProductId], [TissueBankId], [ProductMasterId], [ProductType], [ProductCode], [ProductSize], [PreservationType], [ProductDescription], [Remark], [UnitPrice], [SourceId], [IsAvailableForSale], [AvailabilityStartDate], [AvailabilityEndDate], [IsActive], [CreatedDate], [CreatedBy], [LastModifiedDate], [LastModifiedBy]) VALUES (1, 29, 1, N'5 mm', N'FD521', NULL, N'FREEZED', NULL, NULL, CAST(500.00 AS Numeric(18, 2)), 1, 1, NULL, NULL, 1, CAST(N'2016-11-23 00:00:00.000' AS DateTime), 8, CAST(N'2016-11-23 00:00:00.000' AS DateTime), 8)
INSERT [dbo].[TissueBankProduct] ([TissueBankProductId], [TissueBankId], [ProductMasterId], [ProductType], [ProductCode], [ProductSize], [PreservationType], [ProductDescription], [Remark], [UnitPrice], [SourceId], [IsAvailableForSale], [AvailabilityStartDate], [AvailabilityEndDate], [IsActive], [CreatedDate], [CreatedBy], [LastModifiedDate], [LastModifiedBy]) VALUES (2, 29, 2, N'4-5mm', N'PP121', NULL, N'DEEP', NULL, NULL, CAST(650.00 AS Numeric(18, 2)), 1, 1, NULL, NULL, 1, CAST(N'2016-11-23 11:15:00.000' AS DateTime), 8, CAST(N'2016-11-23 11:15:00.000' AS DateTime), 8)
INSERT [dbo].[TissueBankProduct] ([TissueBankProductId], [TissueBankId], [ProductMasterId], [ProductType], [ProductCode], [ProductSize], [PreservationType], [ProductDescription], [Remark], [UnitPrice], [SourceId], [IsAvailableForSale], [AvailabilityStartDate], [AvailabilityEndDate], [IsActive], [CreatedDate], [CreatedBy], [LastModifiedDate], [LastModifiedBy]) VALUES (3, 29, 2, N'5-6mm', N'PP122', NULL, N'DEEP', NULL, NULL, CAST(750.00 AS Numeric(18, 2)), 1, 1, NULL, NULL, 1, CAST(N'2016-11-23 11:15:00.000' AS DateTime), 8, CAST(N'2016-11-23 11:15:00.000' AS DateTime), 8)
SET IDENTITY_INSERT [dbo].[TissueBankProduct] OFF
SET IDENTITY_INSERT [dbo].[User] ON 

SET IDENTITY_INSERT [dbo].[User] OFF
SET IDENTITY_INSERT [dbo].[UserRole] ON 

INSERT [dbo].[UserRole] ([UserRoleID], [UserID], [RoleID]) VALUES (6, 9, 4)
INSERT [dbo].[UserRole] ([UserRoleID], [UserID], [RoleID]) VALUES (7, 11, 6)
INSERT [dbo].[UserRole] ([UserRoleID], [UserID], [RoleID]) VALUES (8, 8, 1)
SET IDENTITY_INSERT [dbo].[UserRole] OFF
ALTER TABLE [dbo].[Notification] ADD  CONSTRAINT [DF_Notification_LastModifiedDate]  DEFAULT (getdate()) FOR [LastModifiedDate]
GO
ALTER TABLE [dbo].[PurchaseRequest] ADD  CONSTRAINT [DF_Purchaserequest_LastModifiedDate]  DEFAULT (getdate()) FOR [LastModifiedDate]
GO
ALTER TABLE [dbo].[City]  WITH CHECK ADD  CONSTRAINT [FK_City_State] FOREIGN KEY([StateId])
REFERENCES [dbo].[State] ([StateId])
GO
ALTER TABLE [dbo].[City] CHECK CONSTRAINT [FK_City_State]
GO
ALTER TABLE [dbo].[Entity]  WITH CHECK ADD  CONSTRAINT [FK_Entity_EntityType] FOREIGN KEY([EntityTypeId])
REFERENCES [dbo].[EntityType] ([EntityTypeId])
GO
ALTER TABLE [dbo].[Entity] CHECK CONSTRAINT [FK_Entity_EntityType]
GO
ALTER TABLE [dbo].[Hospital]  WITH CHECK ADD  CONSTRAINT [FK_Hospital_City] FOREIGN KEY([HospitalCityId])
REFERENCES [dbo].[City] ([CityID])
GO
ALTER TABLE [dbo].[Hospital] CHECK CONSTRAINT [FK_Hospital_City]
GO
ALTER TABLE [dbo].[Hospital]  WITH CHECK ADD  CONSTRAINT [FK_Hospital_DomainScope] FOREIGN KEY([DomainScopeID])
REFERENCES [dbo].[DomainScope] ([DomainScopeId])
GO
ALTER TABLE [dbo].[Hospital] CHECK CONSTRAINT [FK_Hospital_DomainScope]
GO
ALTER TABLE [dbo].[Hospital]  WITH CHECK ADD  CONSTRAINT [FK_Hospital_HospitalType] FOREIGN KEY([HospitalTypeID])
REFERENCES [dbo].[HospitalType] ([HospitalTypeID])
GO
ALTER TABLE [dbo].[Hospital] CHECK CONSTRAINT [FK_Hospital_HospitalType]
GO
ALTER TABLE [dbo].[HospitalAddress]  WITH CHECK ADD  CONSTRAINT [FK_HospitalAddress_City] FOREIGN KEY([CityId])
REFERENCES [dbo].[City] ([CityID])
GO
ALTER TABLE [dbo].[HospitalAddress] CHECK CONSTRAINT [FK_HospitalAddress_City]
GO
ALTER TABLE [dbo].[HospitalAddress]  WITH CHECK ADD  CONSTRAINT [FK_HospitalAddress_Hospital] FOREIGN KEY([HospitalId])
REFERENCES [dbo].[Hospital] ([HospitalId])
GO
ALTER TABLE [dbo].[HospitalAddress] CHECK CONSTRAINT [FK_HospitalAddress_Hospital]
GO
ALTER TABLE [dbo].[Notification]  WITH CHECK ADD  CONSTRAINT [FK_Notification_EntityType] FOREIGN KEY([EntityTypeID])
REFERENCES [dbo].[EntityType] ([EntityTypeId])
GO
ALTER TABLE [dbo].[Notification] CHECK CONSTRAINT [FK_Notification_EntityType]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_PurchaseRequest] FOREIGN KEY([PurchaseRequestId])
REFERENCES [dbo].[PurchaseRequest] ([PurchaseRequestId])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_PurchaseRequest]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Status] FOREIGN KEY([StatusId])
REFERENCES [dbo].[Status] ([StatusId])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Status]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_Order] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Order] ([OrderId])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_Order]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_ProductEntity] FOREIGN KEY([ProductEntityId])
REFERENCES [dbo].[ProductEntity] ([ProductEntityId])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_ProductEntity]
GO
ALTER TABLE [dbo].[ProductEntity]  WITH CHECK ADD  CONSTRAINT [FK_ProductEntity_Hospital] FOREIGN KEY([HospitalId])
REFERENCES [dbo].[Hospital] ([HospitalId])
GO
ALTER TABLE [dbo].[ProductEntity] CHECK CONSTRAINT [FK_ProductEntity_Hospital]
GO
ALTER TABLE [dbo].[ProductEntity]  WITH CHECK ADD  CONSTRAINT [FK_ProductEntity_ShippingDetail] FOREIGN KEY([ShippingDetailId])
REFERENCES [dbo].[ShippingDetail] ([ShippingDetailId])
GO
ALTER TABLE [dbo].[ProductEntity] CHECK CONSTRAINT [FK_ProductEntity_ShippingDetail]
GO
ALTER TABLE [dbo].[ProductEntity]  WITH CHECK ADD  CONSTRAINT [FK_ProductEntity_TissueBank] FOREIGN KEY([TissueBankId])
REFERENCES [dbo].[TissueBank] ([TissueBankId])
GO
ALTER TABLE [dbo].[ProductEntity] CHECK CONSTRAINT [FK_ProductEntity_TissueBank]
GO
ALTER TABLE [dbo].[ProductEntity]  WITH CHECK ADD  CONSTRAINT [FK_ProductEntity_TissueBankProduct] FOREIGN KEY([TissueBankProductId])
REFERENCES [dbo].[TissueBankProduct] ([TissueBankProductId])
GO
ALTER TABLE [dbo].[ProductEntity] CHECK CONSTRAINT [FK_ProductEntity_TissueBankProduct]
GO
ALTER TABLE [dbo].[ProductMaster]  WITH CHECK ADD  CONSTRAINT [FK_ProductMaster_DomainScope] FOREIGN KEY([DomainScopeId])
REFERENCES [dbo].[DomainScope] ([DomainScopeId])
GO
ALTER TABLE [dbo].[ProductMaster] CHECK CONSTRAINT [FK_ProductMaster_DomainScope]
GO
ALTER TABLE [dbo].[ProductMaster]  WITH CHECK ADD  CONSTRAINT [FK_ProductMaster_ProductMaster] FOREIGN KEY([FamilyId])
REFERENCES [dbo].[ProductMaster] ([ProductMasterId])
GO
ALTER TABLE [dbo].[ProductMaster] CHECK CONSTRAINT [FK_ProductMaster_ProductMaster]
GO
ALTER TABLE [dbo].[PurchaseRequest]  WITH CHECK ADD  CONSTRAINT [FK_PurchaseRequest_ProductEntity] FOREIGN KEY([ProductEntityId])
REFERENCES [dbo].[ProductEntity] ([ProductEntityId])
GO
ALTER TABLE [dbo].[PurchaseRequest] CHECK CONSTRAINT [FK_PurchaseRequest_ProductEntity]
GO
ALTER TABLE [dbo].[PurchaseRequest]  WITH CHECK ADD  CONSTRAINT [FK_Purchaserequest_RequestForQuote] FOREIGN KEY([ParentRequestForQuoteId])
REFERENCES [dbo].[RequestForQuote] ([RequestForQuoteId])
GO
ALTER TABLE [dbo].[PurchaseRequest] CHECK CONSTRAINT [FK_Purchaserequest_RequestForQuote]
GO
ALTER TABLE [dbo].[PurchaseRequest]  WITH CHECK ADD  CONSTRAINT [FK_PurchaseRequest_Status] FOREIGN KEY([StatusId])
REFERENCES [dbo].[Status] ([StatusId])
GO
ALTER TABLE [dbo].[PurchaseRequest] CHECK CONSTRAINT [FK_PurchaseRequest_Status]
GO
ALTER TABLE [dbo].[Request]  WITH CHECK ADD  CONSTRAINT [FK_Request_Hospital] FOREIGN KEY([HospitalId])
REFERENCES [dbo].[Hospital] ([HospitalId])
GO
ALTER TABLE [dbo].[Request] CHECK CONSTRAINT [FK_Request_Hospital]
GO
ALTER TABLE [dbo].[Request]  WITH CHECK ADD  CONSTRAINT [FK_Request_RequestForQuote] FOREIGN KEY([RequestForQuoteId])
REFERENCES [dbo].[RequestForQuote] ([RequestForQuoteId])
GO
ALTER TABLE [dbo].[Request] CHECK CONSTRAINT [FK_Request_RequestForQuote]
GO
ALTER TABLE [dbo].[RequestForQuote]  WITH CHECK ADD  CONSTRAINT [FK_RequestForQuote_ProductEntity] FOREIGN KEY([ProductEntityId])
REFERENCES [dbo].[ProductEntity] ([ProductEntityId])
GO
ALTER TABLE [dbo].[RequestForQuote] CHECK CONSTRAINT [FK_RequestForQuote_ProductEntity]
GO
ALTER TABLE [dbo].[RequestForQuote]  WITH CHECK ADD  CONSTRAINT [FK_RequestForQuote_Status] FOREIGN KEY([StatusId])
REFERENCES [dbo].[Status] ([StatusId])
GO
ALTER TABLE [dbo].[RequestForQuote] CHECK CONSTRAINT [FK_RequestForQuote_Status]
GO
ALTER TABLE [dbo].[Response]  WITH CHECK ADD  CONSTRAINT [FK_Response_Request] FOREIGN KEY([RequestID])
REFERENCES [dbo].[Request] ([RequestID])
GO
ALTER TABLE [dbo].[Response] CHECK CONSTRAINT [FK_Response_Request]
GO
ALTER TABLE [dbo].[Response]  WITH CHECK ADD  CONSTRAINT [FK_Response_TissueBank] FOREIGN KEY([TissueBankId])
REFERENCES [dbo].[TissueBank] ([TissueBankId])
GO
ALTER TABLE [dbo].[Response] CHECK CONSTRAINT [FK_Response_TissueBank]
GO
ALTER TABLE [dbo].[Role]  WITH CHECK ADD  CONSTRAINT [FK_UserRole_EntityType] FOREIGN KEY([EntityTypeID])
REFERENCES [dbo].[EntityType] ([EntityTypeId])
GO
ALTER TABLE [dbo].[Role] CHECK CONSTRAINT [FK_UserRole_EntityType]
GO
ALTER TABLE [dbo].[ShippingDetail]  WITH CHECK ADD  CONSTRAINT [FK_ShippingDetail_ShippingDetail] FOREIGN KEY([HospitalAddressId])
REFERENCES [dbo].[HospitalAddress] ([HospitalAddressId])
GO
ALTER TABLE [dbo].[ShippingDetail] CHECK CONSTRAINT [FK_ShippingDetail_ShippingDetail]
GO
ALTER TABLE [dbo].[Status]  WITH CHECK ADD  CONSTRAINT [FK_Status_ReportType] FOREIGN KEY([ReportTypeId])
REFERENCES [dbo].[ReportType] ([ReportTypeId])
GO
ALTER TABLE [dbo].[Status] CHECK CONSTRAINT [FK_Status_ReportType]
GO
ALTER TABLE [dbo].[TaggedNotification]  WITH CHECK ADD  CONSTRAINT [FK_TaggedNotification_Notification] FOREIGN KEY([NotificationId])
REFERENCES [dbo].[Notification] ([NotificationId])
GO
ALTER TABLE [dbo].[TaggedNotification] CHECK CONSTRAINT [FK_TaggedNotification_Notification]
GO
ALTER TABLE [dbo].[TaggedNotification]  WITH CHECK ADD  CONSTRAINT [FK_TaggedNotification_NotificationTag] FOREIGN KEY([NotificationTagId])
REFERENCES [dbo].[NotificationTag] ([NotificationTagId])
GO
ALTER TABLE [dbo].[TaggedNotification] CHECK CONSTRAINT [FK_TaggedNotification_NotificationTag]
GO
ALTER TABLE [dbo].[TissueBank]  WITH CHECK ADD  CONSTRAINT [FK_TissueBank_City] FOREIGN KEY([CityId])
REFERENCES [dbo].[City] ([CityID])
GO
ALTER TABLE [dbo].[TissueBank] CHECK CONSTRAINT [FK_TissueBank_City]
GO
ALTER TABLE [dbo].[TissueBankProduct]  WITH CHECK ADD  CONSTRAINT [FK_TissueBankProduct_ProductMaster] FOREIGN KEY([ProductMasterId])
REFERENCES [dbo].[ProductMaster] ([ProductMasterId])
GO
ALTER TABLE [dbo].[TissueBankProduct] CHECK CONSTRAINT [FK_TissueBankProduct_ProductMaster]
GO
ALTER TABLE [dbo].[TissueBankProduct]  WITH CHECK ADD  CONSTRAINT [FK_TissueBankProduct_Source] FOREIGN KEY([SourceId])
REFERENCES [dbo].[Source] ([SourceId])
GO
ALTER TABLE [dbo].[TissueBankProduct] CHECK CONSTRAINT [FK_TissueBankProduct_Source]
GO
ALTER TABLE [dbo].[TissueBankProduct]  WITH CHECK ADD  CONSTRAINT [FK_TissueBankProduct_TissueBank] FOREIGN KEY([TissueBankId])
REFERENCES [dbo].[TissueBank] ([TissueBankId])
GO
ALTER TABLE [dbo].[TissueBankProduct] CHECK CONSTRAINT [FK_TissueBankProduct_TissueBank]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_DomainScope] FOREIGN KEY([DomainScopeID])
REFERENCES [dbo].[DomainScope] ([DomainScopeId])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_DomainScope]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Entity] FOREIGN KEY([EntityID])
REFERENCES [dbo].[Entity] ([EntityId])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Entity]
GO
ALTER TABLE [dbo].[UserRole]  WITH CHECK ADD  CONSTRAINT [FK_UserRoleID_Role] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Role] ([RoleID])
GO
ALTER TABLE [dbo].[UserRole] CHECK CONSTRAINT [FK_UserRoleID_Role]
GO
ALTER TABLE [dbo].[UserRole]  WITH CHECK ADD  CONSTRAINT [FK_UserRoleID_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[UserRole] CHECK CONSTRAINT [FK_UserRoleID_User]
GO
/****** Object:  StoredProcedure [dbo].[sp_Order_TissueBank_Ack_Decline]    Script Date: 1/12/2017 11:06:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_Order_TissueBank_Ack_Decline]
(
@OrderId int
,@StatusId int
,@DeclineRemark nvarchar(200)
,@ShippingMethod nvarchar(100)
,@TissueBankSendByDate date
,@LastModifiedBy int
)
as
BEGIN TRANSACTION trans
BEGIN TRY
update dbo.[Order]
set StatusId=@StatusId
, DeclineRemark=@DeclineRemark
,LastModifiedDate=GETDATE()
,LastModifiedBy=@LastModifiedBy
where OrderId=@OrderId

declare @ShippingDetailId int =(select ShippingDetailId from ProductEntity as pe,OrderDetail as od
								where pe.ProductEntityId=od.ProductEntityId and 
								OrderId=@OrderId);

declare @ProductEntityId int =(select ProductEntityId from OrderDetail 
								where OrderId=@OrderId);

update ShippingDetail
set ShippingMethod=@ShippingMethod
where ShippingDetailId=@ShippingDetailId

update ProductEntity
set TissueBankSendByDate=@TissueBankSendByDate
,LastModifiedDate=GETDATE()
,LastModifiedBy=@LastModifiedBy
where ProductEntityId=@ProductEntityId


 BEGIN COMMIT TRANSACTION trans
 END
END TRY
BEGIN CATCH
 print 'Error Occured'
 BEGIN ROLLBACK TRANSACTION trans 
 END
END CATCH 

GO
/****** Object:  StoredProcedure [dbo].[sp_Order_TissueBank_GetByTissueBankId]    Script Date: 1/12/2017 11:06:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_Order_TissueBank_GetByTissueBankId]
(
@TissueBankId int,
@SearchBy varchar(30),
@CurrentPage int,
@PageSize int,
@SortDirection varchar(10),
@SortExpression varchar(30)
)
as
begin
declare @StartLimit int=(@CurrentPage-1)*@PageSize+1;
declare @EndLimit int=@StartLimit+@PageSize-1;

WITH CTE_Results
    AS (
select ROW_NUMBER() OVER (ORDER BY case
        when @SortDirection <> 'ASC' then ''
        when @SortExpression = 'RequestForQuoteId' then RequestForQuoteId
        end ASC
,       case
        when @SortDirection <> 'DESC' then ''
        when @SortExpression = 'RequestForQuoteId' then RequestForQuoteId
        end DESC,
case
        when @SortDirection <> 'ASC' then ''
        when @SortExpression = 'ProductMasterName' then ProductMasterName
        end ASC
,       case
        when @SortDirection <> 'DESC' then ''
        when @SortExpression = 'ProductMasterName' then ProductMasterName
        end DESC,
case		 when @SortDirection <> 'ASC' then ''
        when @SortExpression = 'ProductCode' then ProductCode
        end ASC
,       case
        when @SortDirection <> 'DESC' then ''
        when @SortExpression = 'ProductCode' then ProductCode
        end DESC
		,
		case		 when @SortDirection <> 'ASC' then ''
        when @SortExpression = 'StatusName' then StatusName
        end ASC
,       case
        when @SortDirection <> 'DESC' then ''
        when @SortExpression = 'StatusName' then StatusName
        end DESC
		,
		case		 when @SortDirection <> 'ASC' then cast(null as date)
        when @SortExpression = 'CreatedDate' then o.CreatedDate
        end ASC
,       case
        when @SortDirection <> 'DESC' then cast(null as date)
        when @SortExpression = 'CreatedDate' then o.CreatedDate
        end DESC
		,case		 when @SortDirection <> 'ASC' then cast(null as date)
        when @SortExpression = 'NeedByDate' then NeedByDate
        end ASC
,       case
        when @SortDirection <> 'DESC' then cast(null as date)
        when @SortExpression = 'NeedByDate' then NeedByDate
        end DESC) Sno,
 o. OrderId
 ,rfq.RequestForQuoteId
, Quantity
,pe.UnitPrice
,NeedByDate
,TissueBankSendByDate
,o.OrderLineTotal
,o.StatusId
,o.CreatedDate
,ProductMasterName
,tbp.ProductCode
,s.StatusName
from dbo.[Order] as o
inner join OrderDetail as od on od.OrderId=o.OrderId
inner join ProductEntity as pe on pe.ProductEntityId=od.ProductEntityId
inner join dbo.[Status] as s on s.StatusId=o.StatusId
inner join dbo.[User] as uCreated on uCreated.UserId=o.CreatedBy
inner join dbo.[User] as uModified on uModified.UserId=o.LastModifiedBy
inner join TissueBankProduct as tbp on pe.TissueBankProductId=tbp.TissueBankProductId
inner join ProductMaster as pm on tbp.ProductMasterId=pm.ProductMasterId
left join RequestForQuote as rfq on rfq.RequestForQuoteId=o.RFQId
where (RequestForQuoteId like @SearchBy+'%'
or ProductCode like @SearchBy+'%'
or ProductMasterName like  @SearchBy+'%'
or StatusName like @SearchBy+'%'))
select * from CTE_Results 
where Sno between @StartLimit and @EndLimit 
order by 
case
        when @SortDirection <> 'ASC' then ''
        when @SortExpression = 'RequestForQuoteId' then RequestForQuoteId
        end ASC
,       case
        when @SortDirection <> 'DESC' then ''
        when @SortExpression = 'RequestForQuoteId' then RequestForQuoteId
        end DESC,
case
        when @SortDirection <> 'ASC' then ''
        when @SortExpression = 'ProductMasterName' then ProductMasterName
        end ASC
,       case
        when @SortDirection <> 'DESC' then ''
        when @SortExpression = 'ProductMasterName' then ProductMasterName
        end DESC,
case		 when @SortDirection <> 'ASC' then ''
        when @SortExpression = 'ProductCode' then ProductCode
        end ASC
,       case
        when @SortDirection <> 'DESC' then ''
        when @SortExpression = 'ProductCode' then ProductCode
        end DESC
		,
		case		 when @SortDirection <> 'ASC' then ''
        when @SortExpression = 'StatusName' then StatusName
        end ASC
,       case
        when @SortDirection <> 'DESC' then ''
        when @SortExpression = 'StatusName' then StatusName
        end DESC
		,
		case		 when @SortDirection <> 'ASC' then cast(null as date)
        when @SortExpression = 'CreatedDate' then CreatedDate
        end ASC
,       case
        when @SortDirection <> 'DESC' then cast(null as date)
        when @SortExpression = 'CreatedDate' then CreatedDate
        end DESC
		,case		 when @SortDirection <> 'ASC' then cast(null as date)
        when @SortExpression = 'NeedByDate' then NeedByDate
        end ASC
,       case
        when @SortDirection <> 'DESC' then cast(null as date)
        when @SortExpression = 'NeedByDate' then NeedByDate
        end DESC
		
end





GO
/****** Object:  StoredProcedure [dbo].[sp_OrderDetail_TissueBank_GetByOrderId]    Script Date: 1/12/2017 11:06:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_OrderDetail_TissueBank_GetByOrderId]
 (
 @OrderId int
 )
 as
 begin
	 select
 o.OrderId
,o.OrderDate
,o.OrderLineTotal
,o.RFQId
,o.AlloCATFees
,o.HospitalPoNumber
,o.StatusId
,o.DeclineRemark
,o.CreatedDate
,pe.ProductEntityId
,pe.TissueBankProductId
,pe.HospitalId
,pe.Quantity
,pe.UnitPrice
,pe.LineTotal
,pe.SalesTax
,pe.Total
,pe.NeedByDate
,pe.TissueBankSendByDate

,h.HospitalName
,h.HospitalAddress as billingHospitalAddress
,h.FaxNumber as billingFaxNumber
,h.HospitalLandLineNo
,h.RegistrationNumber 
,h.ContactPersonName as billingContactPersonName
,h.ContactPersonNumber as billingContactPersonNumber
,h.HospitalEmailId

,ha.HospitalAddress as shippingHospitalAddress
,ha.ContactPersonName as shippingContactPersonName
,ha.ContactPersonNumber as shippingContactPersonNumber
,ha.ContactPersonNumber as shippingContactPersonNumber
,ha.FaxNumber as shippingFaxNumber


,DomainName
,shippingCity.CityName as shippingCityName
,shippingCity.ZipCode as shippingZipCode
,shippingCity.ZipCode as shippingZipCode


,billingCity.CityName as billingCityName
,billingCity.ZipCode as shippingZipCode
,billingCity.ZipCode as billingZipCode

,billingState.StateName as billingStateName
,shippingState.StateName as shippingStateName


,rfq.RequestForQuoteId

,StatusName

,ProductMasterName
,ShippingMethod

	from dbo.[Order] as o
	inner join OrderDetail as od on o.OrderId=od.OrderId
	inner join ProductEntity as pe on pe.ProductEntityId=od.ProductEntityId
	inner join TissueBankProduct as tbp on pe.TissueBankProductId=tbp.TissueBankProductId
	inner join ProductMaster as pm on tbp.ProductMasterId=pm.ProductMasterId
	left join Hospital as h on h.HospitalId=pe.HospitalId
	left join HospitalAddress as ha on ha.HospitalId=h.HospitalId
	left join DomainScope as ds on ds.DomainScopeId=pm.DomainScopeId
	inner join city as shippingCity on shippingCity.CityID=ha.CityId
	inner join city as billingCity on billingCity.CityID=h.HospitalCityId
	inner join dbo.[State] as shippingState on shippingCity.StateId=shippingState.StateId
	inner join dbo.[State] as billingState on billingCity.StateId=billingState.StateId
	left join ShippingDetail as sd on sd.ShippingDetailId=pe.ShippingDetailId
	left join RequestForQuote as rfq on rfq.RequestForQuoteId=o.RFQId
	inner join dbo.[Status] as s on s.StatusId=o.StatusId

	where o.OrderId=@OrderId
end





GO
/****** Object:  StoredProcedure [dbo].[sp_RequestForQuote_TissueBank_Edit]    Script Date: 1/12/2017 11:06:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_RequestForQuote_TissueBank_Edit]
(
 @TissueBankId	int
,@ResponseBody	nvarchar(MAX) null
,@AttachmentName	nvarchar(100) null
,@CreatedBy	int
,@LastModifiedBy	int
,@RequestForQuoteId	int
,@StatusId	int
,@DeclineRemark	nvarchar(200) null
,@Quantity	int
,@UnitPrice	numeric(18, 2)
,@LineTotal	numeric(18, 2)
,@SalesTax	numeric(18, 2)
,@Total	numeric(18, 2)
,@TissueBankSendByDate	date null
,@ShippingMethod	nvarchar(100)
)
as
begin
BEGIN TRANSACTION trans
BEGIN TRY
	declare @RequestID	int,@ProductEntityId	int
	
	set @RequestID=(select top 1 RequestID from Request where RequestForQuoteId=@RequestForQuoteId)
	
	if(@ResponseBody!='')
	begin
		insert into Response
		(
		 TissueBankId,RequestID,ResponseBody,AttachmentName
		,CreatedDate,CreatedBy,LastModifiedDate,LastModifiedBy
		)
		values
		(
		 @TissueBankId,@RequestID,@ResponseBody,@AttachmentName
		,GETDATE(),@CreatedBy,GETDATE(),@LastModifiedBy
		)
	end
	
	
	if(@StatusId!=5)
	begin

	set @StatusId=(select StatusId from RequestForQuote where RequestForQuoteId=@RequestForQuoteId)

		if (@StatusId=2)
			begin
				set @StatusId=3
			end
		else if (@StatusId=3)
		begin
			set @StatusId=3
		end
		else if (@StatusId=4)
		begin
			set @StatusId=4
		end
	end
	
	update RequestForQuote set 
	 StatusId=@StatusId 
	 ,DeclineRemark=@DeclineRemark 
	,LastModifiedDate=GETDATE() 
	,LastModifiedBy=@LastModifiedBy 
	where RequestForQuoteId=@RequestForQuoteId
	
	set @ProductEntityId=(select ProductEntityId from RequestForQuote WHERE RequestForQuoteId=@RequestForQuoteId)

	update ProductEntity
	set 
	 Quantity=@Quantity
	 ,UnitPrice=@UnitPrice
	,LineTotal=@LineTotal
	,SalesTax=@SalesTax
	,Total=@Total
	,TissueBankSendByDate=@TissueBankSendByDate
	,LastModifiedDate=GETDATE()
	,LastModifiedBy=@LastModifiedBy
	where ProductEntityId=@ProductEntityId


	declare @ShippingDetailId int=(select ShippingDetailId from ProductEntity WHERE ProductEntityId=@ProductEntityId)

	update ShippingDetail
	set ShippingMethod=@ShippingMethod
	where ShippingDetailId=@ShippingDetailId

	BEGIN COMMIT TRANSACTION trans
 END
END TRY
BEGIN CATCH
 print 'Error Occured'
 BEGIN ROLLBACK TRANSACTION trans 
 END
END CATCH 
end





GO
/****** Object:  StoredProcedure [dbo].[sp_RequestForQuote_TissueBank_GetByTissueBankId]    Script Date: 1/12/2017 11:06:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_RequestForQuote_TissueBank_GetByTissueBankId]
(
@TissueBankId int,
@SearchBy varchar(30),
@CurrentPage int,
@PageSize int,
@SortDirection varchar(10),
@SortExpression varchar(30)
)
as
begin
declare @StartLimit int=(@CurrentPage-1)*@PageSize+1;
declare @EndLimit int=@StartLimit+@PageSize-1;

WITH CTE_Results
    AS (
select ROW_NUMBER() OVER (ORDER BY 
case
        when @SortDirection <> 'ASC' then ''
        when @SortExpression = 'RequestForQuoteId' then RequestForQuoteId
        end ASC
,       case
        when @SortDirection <> 'DESC' then ''
        when @SortExpression = 'RequestForQuoteId' then RequestForQuoteId
        end DESC,
case
        when @SortDirection <> 'ASC' then ''
        when @SortExpression = 'ProductMasterName' then ProductMasterName
        end ASC
,       case
        when @SortDirection <> 'DESC' then ''
        when @SortExpression = 'ProductMasterName' then ProductMasterName
        end DESC,
case		 when @SortDirection <> 'ASC' then ''
        when @SortExpression = 'ProductCode' then ProductCode
        end ASC
,       case
        when @SortDirection <> 'DESC' then ''
        when @SortExpression = 'ProductCode' then ProductCode
        end DESC
		,
		case		 when @SortDirection <> 'ASC' then ''
        when @SortExpression = 'StatusName' then StatusName
        end ASC
,       case
        when @SortDirection <> 'DESC' then ''
        when @SortExpression = 'StatusName' then StatusName
        end DESC
		,
		case		 when @SortDirection <> 'ASC' then cast(null as date)
        when @SortExpression = 'CreatedDate' then rfq.CreatedDate
        end ASC
,       case
        when @SortDirection <> 'DESC' then cast(null as date)
        when @SortExpression = 'CreatedDate' then rfq.CreatedDate
        end DESC
		,
case		 when @SortDirection <> 'ASC' then cast(null as date)
        when @SortExpression = 'LastModifiedDate' then rfq.LastModifiedDate
        end ASC
,       case
        when @SortDirection <> 'DESC' then cast(null as date)
        when @SortExpression = 'LastModifiedDate' then rfq.LastModifiedDate
        end DESC


) Sno,
 RequestForQuoteId
,rfq.CreatedDate
,rfq.LastModifiedDate
,ProductMasterName
,tbp.ProductCode
,s.StatusName
from RequestForQuote as rfq
inner join ProductEntity as pe on pe.ProductEntityId=rfq.ProductEntityId
inner join Status as s on s.StatusId=rfq.StatusId
inner join dbo.[User] as uCreated on uCreated.UserId=rfq.CreatedBy
inner join dbo.[User] as uModified on uModified.UserId=rfq.LastModifiedBy
inner join TissueBankProduct as tbp on pe.TissueBankProductId=tbp.TissueBankProductId
inner join ProductMaster as pm on tbp.ProductMasterId=pm.ProductMasterId
where (RequestForQuoteId like @SearchBy+'%'
or ProductCode like @SearchBy+'%'
or ProductMasterName like  @SearchBy+'%'
or StatusName like @SearchBy+'%'))
select * from CTE_Results 
where Sno between @StartLimit and @EndLimit 
order by 
case
        when @SortDirection <> 'ASC' then ''
        when @SortExpression = 'RequestForQuoteId' then RequestForQuoteId
        end ASC
,       case
        when @SortDirection <> 'DESC' then ''
        when @SortExpression = 'RequestForQuoteId' then RequestForQuoteId
        end DESC,
case
        when @SortDirection <> 'ASC' then ''
        when @SortExpression = 'ProductMasterName' then ProductMasterName
        end ASC
,       case
        when @SortDirection <> 'DESC' then ''
        when @SortExpression = 'ProductMasterName' then ProductMasterName
        end DESC,
case		 when @SortDirection <> 'ASC' then ''
        when @SortExpression = 'ProductCode' then ProductCode
        end ASC
,       case
        when @SortDirection <> 'DESC' then ''
        when @SortExpression = 'ProductCode' then ProductCode
        end DESC
		,
		case		 when @SortDirection <> 'ASC' then ''
        when @SortExpression = 'StatusName' then StatusName
        end ASC
,       case
        when @SortDirection <> 'DESC' then ''
        when @SortExpression = 'StatusName' then StatusName
        end DESC
		,
		case		 when @SortDirection <> 'ASC' then cast(null as date)
        when @SortExpression = 'CreatedDate' then CreatedDate
        end ASC
,       case
        when @SortDirection <> 'DESC' then cast(null as date)
        when @SortExpression = 'CreatedDate' then CreatedDate
        end DESC
		,
case		 when @SortDirection <> 'ASC' then cast(null as date)
        when @SortExpression = 'LastModifiedDate' then LastModifiedDate
        end ASC
,       case
        when @SortDirection <> 'DESC' then cast(null as date)
        when @SortExpression = 'LastModifiedDate' then LastModifiedDate
        end DESC
end





GO
/****** Object:  StoredProcedure [dbo].[sp_RequestForQuoteDetail_TissueBank_GetByRequestForQuoteId]    Script Date: 1/12/2017 11:06:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE proc [dbo].[sp_RequestForQuoteDetail_TissueBank_GetByRequestForQuoteId]
 (
 @RequestForQuoteId int
 )
 as
 begin
	 select
	 rfq.RequestForQuoteId
	,rfq.CreatedDate
	,rfq.LastModifiedDate
	,pe.Quantity
	,pe.UnitPrice
	,pe.LineTotal
	,pe.SalesTax
	,pe.Total
	,pe.NeedByDate
	,pe.TissueBankSendByDate
	,StatusName
	,rfq.StatusId
	,ProductCode
	,ProductMasterName
	,HospitalName
	,CityName
	,ShippingMethod
	,DeclineRemark
	from RequestForQuote as rfq
	inner join ProductEntity as pe on pe.ProductEntityId=rfq.ProductEntityId
	inner join Status as s on s.StatusId=rfq.StatusId
	inner join TissueBankProduct as tbp on pe.TissueBankProductId=tbp.TissueBankProductId
	inner join ProductMaster as pm on tbp.ProductMasterId=pm.ProductMasterId
	left join Hospital as h on h.HospitalId=pe.HospitalId
	left join DomainScope as ds on ds.DomainScopeId=pm.DomainScopeId
	left join City as c on c.CityID=h.HospitalCityId 
	left join ShippingDetail as sd on sd.ShippingDetailId=pe.ShippingDetailId
	where rfq.RequestForQuoteId=@RequestForQuoteId
end





GO
/****** Object:  StoredProcedure [dbo].[sp_RequestResponse_TissueBank_GetByTissueBankId]    Script Date: 1/12/2017 11:06:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_RequestResponse_TissueBank_GetByTissueBankId]
(
@RequestForQuoteId int
)
as
begin
WITH CTE_Results
    AS (
select 'Request' as BodyType
,substring(HospitalName,1,1) as Initial
,r.RequestBody as Body
,r.LastModifiedDate 
,r.AttachmentName
from Request as r
left join hospital as h on r.HospitalId=h.HospitalId
 where RequestForQuoteId=@RequestForQuoteId
union
select 'Response' as BodyType
,substring(TissueBankName,1,1) as Initial
 ,r.ResponseBody as Body
,r.LastModifiedDate 
,r.AttachmentName
from Response as r
left join TissueBank as tb on r.TissueBankId=tb.TissueBankId

where RequestID in (select RequestId from Request where RequestForQuoteId=@RequestForQuoteId)
)
select * from CTE_Results 
order by LastModifiedDate ASC
end

--select 
-- rfq.RequestForQuoteId
--,rfq.Remark
--,rfq.CreatedDate
--,rfq.CreatedBy
--,rfq.LastModifiedDate
--,rfq.LastModifiedBy
--,pe.Quantity
--,pe.NeedByDate
--,tbp.ProductCode
--,pm.ProductMasterName
--,c.CityName
--,s.StatusName
--from RequestForQuote as rfq
--inner join ProductEntity as pe on pe.ProductEntityId=rfq.ProductEntityId
--inner join Status as s on s.StatusId=rfq.StatusId
--inner join dbo.[User] as uCreated on uCreated.UserId=rfq.CreatedBy
--inner join dbo.[User] as uModified on uModified.UserId=rfq.LastModifiedBy
--inner join TissueBankProduct as tbp on pe.TissueBankProductId=tbp.TissueBankProductId
--inner join ProductMaster as pm on tbp.ProductMasterId=pm.ProductMasterId
--inner join Request as r on rfq.RequestForQuoteId=r.RequestForQuoteId
--inner join Hospital as h on h.HospitalId=pe.HospitalId
--inner join City as c on h.HospitalCityId=c.CityID
--where rfq.RequestForQuoteId=1






GO
/****** Object:  StoredProcedure [dbo].[sp_TissueBankProduct_TissueBank_AddUpdate]    Script Date: 1/12/2017 11:06:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_TissueBankProduct_TissueBank_AddUpdate]
(
@temp tempTissueBankProduct_TissueBank readonly
)
as
begin
	BEGIN TRANSACTION trans
	BEGIN TRY
	  MERGE INTO TissueBankProduct tbp
      USING @temp temp
      ON tbp.TissueBankProductId=temp.TissueBankProductId 
      WHEN MATCHED THEN
			update set 
		tbp.ProductType=temp.ProductType
		,tbp.ProductCode=temp.ProductCode
		,tbp.ProductSize=temp.ProductSize
		,tbp.PreservationType=temp.PreservationType
		,tbp.ProductDescription=temp.ProductDescription
		,tbp.Remark=temp.Remark
		,tbp.UnitPrice=temp.UnitPrice
		,tbp.SourceId=temp.SourceId
		,tbp.IsAvailableForSale=temp.IsAvailableForSale
		,tbp.AvailabilityStartDate=temp.AvailabilityStartDate
		,tbp.AvailabilityEndDate=temp.AvailabilityEndDate
		,tbp.LastModifiedDate=getdate()
		,tbp.LastModifiedBy=temp.LastModifiedBy
		WHEN NOT MATCHED THEN
		  INSERT
		   VALUES(temp.TissueBankId,temp.ProductMasterId,temp.ProductType,temp.ProductCode,temp.ProductSize,temp.PreservationType,temp.ProductDescription
			,temp.Remark,temp.UnitPrice,temp.SourceId,temp.IsAvailableForSale,temp.AvailabilityStartDate,temp.AvailabilityEndDate
			,1,getdate(),temp.CreatedBy,getdate(),temp.LastModifiedBy);
		 BEGIN COMMIT TRANSACTION trans
		 END
	END TRY
	BEGIN CATCH
		BEGIN ROLLBACK TRANSACTION trans 
		END
	END CATCH 
end





GO
/****** Object:  StoredProcedure [dbo].[sp_TissueBankProduct_TissueBank_GetByTissueBankId]    Script Date: 1/12/2017 11:06:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_TissueBankProduct_TissueBank_GetByTissueBankId]
(
@TissueBankId int,
@SearchBy varchar(30),
@CurrentPage int,
@PageSize int,
@SortDirection varchar(10),
@SortExpression varchar(30)
)
as
begin
declare @StartLimit int=(@CurrentPage-1)*@PageSize+1;
declare @EndLimit int=@StartLimit+@PageSize-1;

declare @productCount int=(select count(distinct ProductMasterId) from TissueBankProduct);
WITH CTE_Results
    AS (
select ROW_NUMBER() OVER (ORDER BY case
        when @SortDirection <> 'ASC' then ''
        when @SortExpression = 'ProductType' then ProductType
        end ASC
,       case
        when @SortDirection <> 'DESC' then ''
        when @SortExpression = 'ProductType' then ProductType
        end DESC,
case		 when @SortDirection <> 'ASC' then ''
        when @SortExpression = 'ProductMasterName' then ProductMasterName
        end ASC
,       case
        when @SortDirection <> 'DESC' then ''
        when @SortExpression = 'ProductMasterName' then ProductMasterName
        end DESC
		,
		case		 when @SortDirection <> 'ASC' then ''
        when @SortExpression = 'ProductCode' then ProductCode
        end ASC
,       case
        when @SortDirection <> 'DESC' then ''
        when @SortExpression = 'ProductCode' then ProductCode
        end DESC
		,
		case		 when @SortDirection <> 'ASC' then ''
        when @SortExpression = 'PreservationType' then PreservationType
        end ASC
,       case
        when @SortDirection <> 'DESC' then ''
        when @SortExpression = 'PreservationType' then PreservationType
        end DESC
		,
		case		 when @SortDirection <> 'ASC' then cast(null as numeric(18,2))
        when @SortExpression = 'UnitPrice' then UnitPrice
        end ASC
,       case
        when @SortDirection <> 'DESC' then cast(null as numeric(18,2))
        when @SortExpression = 'UnitPrice' then UnitPrice
        end DESC) Sno,
ProductMasterName,ProductType,ProductCode,ProductSize,PreservationType,UnitPrice,
(case when IsAvailableForSale=1 then 'Yes' else 'No' end) as IsAvailableForSale,
TissueBankProductId,tbp.ProductMasterId
from TissueBankProduct as tbp, ProductMaster as pm
where pm.ProductMasterId=tbp.ProductMasterId  and TissueBankId=28 and tbp.IsActive=1 and pm.IsActive=1
and (ProductType like @SearchBy+'%'
or ProductMasterName like @SearchBy+'%'
or ProductCode like  @SearchBy+'%'
or PreservationType like  @SearchBy+'%'
or UnitPrice like  @SearchBy+'%'
or ProductSize like @SearchBy+'%')
)

select @StartLimit as StartLimit,
ProductMasterName,ProductType,ProductCode,ProductSize,PreservationType,UnitPrice,
IsAvailableForSale,
TissueBankProductId,ProductMasterId
 from CTE_Results 
where Sno between @StartLimit and @EndLimit 
order by 
case
        when @SortDirection <> 'ASC' then ''
        when @SortExpression = 'ProductType' then ProductType
        end ASC
,       case
        when @SortDirection <> 'DESC' then ''
        when @SortExpression = 'ProductType' then ProductType
        end DESC,
case		 when @SortDirection <> 'ASC' then ''
        when @SortExpression = 'ProductMasterName' then ProductMasterName
        end ASC
,       case
        when @SortDirection <> 'DESC' then ''
        when @SortExpression = 'ProductMasterName' then ProductMasterName
        end DESC
		,
		case		 when @SortDirection <> 'ASC' then ''
        when @SortExpression = 'ProductCode' then ProductCode
        end ASC
,       case
        when @SortDirection <> 'DESC' then ''
        when @SortExpression = 'ProductCode' then ProductCode
        end DESC
		,
		case		 when @SortDirection <> 'ASC' then ''
        when @SortExpression = 'PreservationType' then PreservationType
        end ASC
,       case
        when @SortDirection <> 'DESC' then ''
        when @SortExpression = 'PreservationType' then PreservationType
        end DESC
		,
		case		 when @SortDirection <> 'ASC' then cast(null as numeric(18,2))
        when @SortExpression = 'UnitPrice' then UnitPrice
        end ASC
,       case
        when @SortDirection <> 'DESC' then cast(null as numeric(18,2))
        when @SortExpression = 'UnitPrice' then UnitPrice
        end DESC
end





GO
/****** Object:  StoredProcedure [dbo].[sp_TissueBankProduct_TissueBank_GetTissueBankProductsByProductMasterId]    Script Date: 1/12/2017 11:06:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_TissueBankProduct_TissueBank_GetTissueBankProductsByProductMasterId]
(
@TissueBankId int,
@ProductMasterId int
)
as
begin
select
 TissueBankProductId
,tbp.TissueBankId
,tbp.ProductMasterId
,tbp.ProductType
,tbp.ProductCode
,tbp.ProductSize
,tbp.PreservationType
,tbp.ProductDescription
,tbp.UnitPrice
,tbp.SourceId
,s.SourceName
,case when tbp.IsAvailableForSale=1 then 'Yes' else 'No' end as IsAvailableForSale
,tbp.AvailabilityStartDate
,tbp.AvailabilityEndDate
,tbp.CreatedBy
,tbp.LastModifiedBy
from 
ProductMaster as pmChild left join  ProductMaster as pmParent on pmChild.FamilyId=pmParent.ProductMasterId
,TissueBankProduct as tbp left join dbo.[Source] as s on s.SourceId=tbp.SourceId,DomainScope as ds
where tbp.ProductMasterId=@ProductMasterId and tbp.TissueBankId=@TissueBankId 
and pmChild.ProductMasterId=tbp.ProductMasterId and pmChild.IsActive=1 and tbp.IsActive=1
and ds.DomainScopeId=pmChild.DomainScopeId order by ProductType asc
end






GO
/****** Object:  StoredProcedure [dbo].[sp_User_CUD]    Script Date: 1/12/2017 11:06:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_User_CUD]
(
 @UserId	int
,@UserName	nvarchar(100)
,@Password	nvarchar(50)
,@FullName	nvarchar(200)
,@EntityID	int
,@DomainScopeID	int
,@MobileNumber	varchar(20)
,@EmailId	nvarchar(100)
,@IsMobileVerified	bit
,@IsEmailVerified	bit
,@IsLockedOut	bit
,@LastLoginDate	datetime
,@LastPasswordChangedDate	datetime
,@LastLockoutDate	datetime
,@FailedPasswordAttemptCount	int
,@FailedPasswordAnswerAttemptCount	int
,@PasswordQuestion	nvarchar(256)
,@PasswordAnswer	nvarchar(128)
,@SecurityQuestion	varchar(100)
,@SecurityAnswer	varchar(100)
,@IsActive	bit
,@CreatedBy	int
,@LastModifiedBy	int
,@EntityTypeId int
,@InfoId int
,@TempUser_CUD TempUser_CUD readonly
,@OperationType varchar(10) 
)
as
begin
BEGIN TRANSACTION trans
BEGIN TRY
	declare @date datetime=getdate();

	if(@OperationType='insert')
	begin
		
		declare @TempUser_CUD2 TempUser_CUD
		
		insert into @TempUser_CUD2
		select * from @TempUser_CUD

		insert into Entity values(@EntityTypeId,@InfoId)

		set @EntityID =(select @@IDENTITY);

		insert into dbo.[User]
		values
		(@UserName,@Password,@FullName,@EntityID,@DomainScopeID,@MobileNumber,@EmailId,@IsMobileVerified,@IsEmailVerified
		,@IsLockedOut,@LastLoginDate,@LastPasswordChangedDate,@LastLockoutDate,@FailedPasswordAttemptCount,@FailedPasswordAnswerAttemptCount
		,@PasswordQuestion,@PasswordAnswer,@SecurityQuestion,@SecurityAnswer,@IsActive,@date,@CreatedBy,@date,@LastModifiedBy
		)

		set @UserId=(select @@IDENTITY);
		
		update @TempUser_CUD2
		set UserId=@UserId

		insert into UserRole
		select * from @TempUser_CUD2
	end
	else if (@OperationType='update')
	begin
		update dbo.[user]
		set 
			 UserName							  =@UserName
			,Password								=@Password
			,FullName								=@FullName
			,EntityID							  =@EntityID
			,DomainScopeID						  =@DomainScopeID
			,MobileNumber						  =@MobileNumber
			,EmailId							  =@EmailId
			,IsMobileVerified					  =@IsMobileVerified
			,IsEmailVerified					  =@IsEmailVerified
			,IsLockedOut						  =@IsLockedOut
			,LastLoginDate						  =@LastLoginDate
			,LastPasswordChangedDate			  =@LastPasswordChangedDate
			,LastLockoutDate					  =@LastLockoutDate
			,FailedPasswordAttemptCount			  =@FailedPasswordAttemptCount
			,FailedPasswordAnswerAttemptCount	  =@FailedPasswordAnswerAttemptCount
			,PasswordQuestion					  =@PasswordQuestion
			,PasswordAnswer						  =@PasswordAnswer
			,SecurityQuestion					  =@SecurityQuestion
			,SecurityAnswer						  =@SecurityAnswer
			,IsActive							  =@IsActive
			,CreatedDate						  =@date
			,CreatedBy							  =@CreatedBy
			,LastModifiedDate					  =@date
			,LastModifiedBy						  =@LastModifiedBy
			where UserId=@UserId

			delete from UserRole where UserID=@UserId

			insert into UserRole
			select * from @TempUser_CUD

	end
	else if(@OperationType='delete')
	begin
			update dbo.[User]
			set IsActive=0
			where UserId=@UserId
	end
BEGIN COMMIT TRANSACTION trans
 END
END TRY
BEGIN CATCH
 print error_message()
 BEGIN ROLLBACK TRANSACTION trans 
 END
END CATCH 
end
GO
/****** Object:  StoredProcedure [dbo].[sp_User_Get]    Script Date: 1/12/2017 11:06:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_User_Get]
(
@RoleName varchar(100)
,@GetType varchar(20)
)
as
begin
		declare @tempUser tempUser;

		WITH CTE_Results
			AS (
			select UserID,RoleName from dbo.[Role] as r, UserRole as ur
			where ur.RoleID=r.RoleID
		)

		insert into @tempUser
			SELECT UserID
					, STUFF((SELECT ', ' + RoleName FROM CTE_Results A
					Where A.UserID=B.UserID FOR XML PATH('')),1,1,'') As UserRoles
					From CTE_Results B
					Group By UserID

if(@RoleName='ALLOCAT ADMIN')
begin
		if(@GetType='TB_Hospital')
		begin
			select 
			 u.UserId
			,u.UserName
			,u.FullName
			,u.MobileNumber
			,u.EmailId
			,case when u.IsLockedOut=0 then 'No' else 'Yes' end as IsLockedOut
			,u.LastLoginDate
			,case when u.IsActive=0 then 'No' else 'Yes' end as IsActive
			,UserRoles
			,DomainName
			,'Hospital' as InfoType
			 from dbo.[User] as u,
			@tempuser as tu, Entity as e, DomainScope as ds, Hospital as h
			 where tu.UserId=u.UserId and e.EntityId=u.EntityID and ds.DomainScopeId=u.DomainScopeID 
			 and e.EntityTypeId=1 and e.InfoId=h.HospitalId

			 union

			 select 
			 u.UserId
			,u.UserName
			,u.FullName
			,u.MobileNumber
			,u.EmailId
			,case when u.IsLockedOut=0 then 'No' else 'Yes' end as IsLockedOut
			,u.LastLoginDate
			,case when u.IsActive=0 then 'No' else 'Yes' end as IsActive
			,UserRoles
			,DomainName
			,'TissueBank' as InfoType
			 from dbo.[User] as u,
			@tempuser as tu, Entity as e, DomainScope as ds, TissueBank as tb
			  where tu.UserId=u.UserId and e.EntityId=u.EntityID and ds.DomainScopeId=u.DomainScopeID 
			 and e.EntityTypeId=2 and e.InfoId=tb.TissueBankId
		 end
		 else if(@GetType='Allocat')
		begin
			 select 
			 u.UserId
			,u.UserName
			,u.FullName
			,u.MobileNumber
			,u.EmailId
			,case when u.IsLockedOut=0 then 'No' else 'Yes' end as IsLockedOut
			,u.LastLoginDate
			,case when u.IsActive=0 then 'No' else 'Yes' end as IsActive
			,UserRoles
			,DomainName
			,'AllocatStaff' as InfoType
			 from dbo.[User] as u,
			@tempuser as tu, Entity as e, DomainScope as ds, company as c
			  where tu.UserId=u.UserId and e.EntityId=u.EntityID and ds.DomainScopeId=u.DomainScopeID 
			 and e.EntityTypeId=3 and e.InfoId=c.companyid


		 end

end
else if(@RoleName='HOSPITAL SUPER ADMIN')
begin
		select 
		 u.UserId
		,u.UserName
		,u.FullName
		,u.MobileNumber
		,u.EmailId
		,case when u.IsLockedOut=0 then 'No' else 'Yes' end as IsLockedOut
		,u.LastLoginDate
		,case when u.IsActive=0 then 'No' else 'Yes' end as IsActive
		,UserRoles
		,DomainName
		,'Hospital' as InfoType
		 from dbo.[User] as u,
		@tempuser as tu, Entity as e, DomainScope as ds, Hospital as h
		 where tu.UserId=u.UserId and e.EntityId=u.EntityID and ds.DomainScopeId=u.DomainScopeID 
		 and e.EntityTypeId=1 and e.InfoId=h.HospitalId
end
else if(@RoleName='TISSUE BANK SUPER ADMIN')
begin
		 select 
		 u.UserId
		,u.UserName
		,u.FullName
		,u.MobileNumber
		,u.EmailId
		,case when u.IsLockedOut=0 then 'No' else 'Yes' end as IsLockedOut
		,u.LastLoginDate
		,case when u.IsActive=0 then 'No' else 'Yes' end as IsActive
		,UserRoles
		,DomainName
		,'TissueBank' as InfoType
		 from dbo.[User] as u,
		@tempuser as tu, Entity as e, DomainScope as ds, TissueBank as tb
		  where tu.UserId=u.UserId and e.EntityId=u.EntityID and ds.DomainScopeId=u.DomainScopeID 
		 and e.EntityTypeId=2 and e.InfoId=tb.TissueBankId
end
 end
GO
/****** Object:  StoredProcedure [dbo].[sp_User_GetEntityInfoByUserName]    Script Date: 1/12/2017 11:06:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[sp_User_GetEntityInfoByUserName]
(
@UserName varchar(100)
)
as
begin

declare @EntitytypeId int=(Select EntitytypeId from Entity where entityId =(Select entityID from dbo.[User] where UserName = @UserName))
declare @infoID int=(Select InfoId from Entity where entityId =(Select entityID from dbo.[User] where UserName = @UserName))

if(@EntitytypeId=1)
begin
	select 'HOSPITAL' as InfoType,HospitalName as InfoName,@infoID as InfoId from Hospital where HospitalId=@infoID 
end
else if(@EntitytypeId=2)
begin
	select 'TISSUEBANK' as InfoType,TissueBankName as InfoName,@infoID as InfoId from TissueBank where TissueBankId=@infoID 
end
else if(@EntitytypeId=3)
begin
	select 'ALLOCAT STAFF' as InfoType,companyName as InfoName,@infoID as InfoId from company where companyId=@infoID
end
end







GO
/****** Object:  StoredProcedure [dbo].[sp_User_GetRoleByUserName]    Script Date: 1/12/2017 11:06:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[sp_User_GetRoleByUserName]
(
@UserName varchar(100)
)
as
begin
SELECT RoleName
FROM dbo.[User] as u, UserRole as ur, Role as r
 where UserName =@UserName and ur.userid=u.UserId and r.RoleID=ur.RoleID
 end



GO
/****** Object:  StoredProcedure [dbo].[sp_UserDetail_GetByUserId]    Script Date: 1/12/2017 11:06:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_UserDetail_GetByUserId]
(
 @UserId int
,@InfoType varchar(10)
)
as
begin

if(@InfoType='HOSPITAL')
begin
	select 
	 u.UserId
	,u.UserName	
	,u.Password	
	,u.FullName	
	,u.EntityID	
	,u.DomainScopeID
	,u.MobileNumber
	,u.EmailId
	,u.IsMobileVerified
	,u.IsEmailVerified
	,u.IsLockedOut
	,u.LastLoginDate
	,u.LastPasswordChangedDate
	,u.LastLockoutDate
	,u.FailedPasswordAttemptCount
	,u.FailedPasswordAnswerAttemptCount
	,u.PasswordQuestion
	,u.PasswordAnswer
	,u.SecurityQuestion
	,u.SecurityAnswer
	,u.IsActive
	,u.CreatedBy
	,u.LastModifiedBy
	,e.EntityTypeId
	,InfoId
	from dbo.[User] as u,UserRole as ur, dbo.[Role] as r,Hospital as h,Entity as e
	 where u.UserId=@UserId and ur.UserID=u.UserId and r.RoleID=ur.RoleID and h.HospitalId=e.InfoId
	 and e.EntityId=u.EntityID
	 end
else if(@InfoType='TISSUEBANK')
begin
	select 
	 u.UserId
	,u.UserName	
	,u.Password	
	,u.FullName	
	,u.EntityID	
	,u.DomainScopeID
	,u.MobileNumber
	,u.EmailId
	,u.IsMobileVerified
	,u.IsEmailVerified
	,u.IsLockedOut
	,u.LastLoginDate
	,u.LastPasswordChangedDate
	,u.LastLockoutDate
	,u.FailedPasswordAttemptCount
	,u.FailedPasswordAnswerAttemptCount
	,u.PasswordQuestion
	,u.PasswordAnswer
	,u.SecurityQuestion
	,u.SecurityAnswer
	,u.IsActive
	,u.CreatedBy
	,u.LastModifiedBy
	,e.EntityTypeId
	,InfoId
	from dbo.[User] as u,UserRole as ur, dbo.[Role] as r,TissueBank as tb,Entity as e
	 where u.UserId=@UserId and ur.UserID=u.UserId and r.RoleID=ur.RoleID and tb.TissueBankId=e.InfoId
	 and e.EntityId=u.EntityID
	 end
else if(@InfoType='ALLOCAT STAFF')
begin
	select 
	 u.UserId
	,u.UserName	
	,u.Password	
	,u.FullName	
	,u.EntityID	
	,u.DomainScopeID
	,u.MobileNumber
	,u.EmailId
	,u.IsMobileVerified
	,u.IsEmailVerified
	,u.IsLockedOut
	,u.LastLoginDate
	,u.LastPasswordChangedDate
	,u.LastLockoutDate
	,u.FailedPasswordAttemptCount
	,u.FailedPasswordAnswerAttemptCount
	,u.PasswordQuestion
	,u.PasswordAnswer
	,u.SecurityQuestion
	,u.SecurityAnswer
	,u.IsActive
	,u.CreatedBy
	,u.LastModifiedBy
	,e.EntityTypeId
	,InfoId
	from dbo.[User] as u,UserRole as ur, dbo.[Role] as r,company as c,Entity as e
	 where u.UserId=@UserId and ur.UserID=u.UserId and r.RoleID=ur.RoleID and c.companyid=e.InfoId
	 and e.EntityId=u.EntityID
	 end
end

